.progress {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 456px;
}

.progress-line-bg {
  position: absolute;
  height: 2px;
  background-color: var(--light-grey);
  top: 18px;
  width: 100%;
}
.progress-line {
  position: absolute;
  height: 2px;
  background-color: var(--blue);
  top: 18px;
  left: 0px;
  z-index: 1;
}

.stage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
}

.completed {
  background-color: var(--blue);
  color: var(--grey);
  font-weight: bold;
  font-size: 18px;
}

.current {
  font-weight: bold;
  border: 4px solid var(--blue);
}
.current::before {
  content: '';
  background-color: var(--blue);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.empty {
  border: 12px solid var(--light-grey);
}

.progress:first-child {
  margin-top: 50px;
}
