@media only screen and (max-width: 767px) {
  .rating-table-desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .rating-table-mobile {
    display: none;
  }
}

.rating-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.rating-table-desktop tbody td,
.rating-table-mobile tbody tr:nth-child(even) td {
  border-bottom: 1px solid var(--mid-grey);
}
.rating-table thead {
  font-size: 10pt;
  color: var(--grey);
  font-weight: 600;
}
.rating-table thead th:not(:first-child) {
  background-color: var(--light-grey);
}

.rating-table th,
.rating-table td {
  padding: 5px;
}
.rating-table thead tr {
  height: 68px;
}
.rating-table td.rating-cell {
  text-align: center;
  width: 50px;
}
.rating-cell label,
.rating-cell-with-label div {
  margin-bottom: 0px;
  padding: 6px;
  background-color: var(--light-grey);
}

.rating-cell-with-label {
  text-align: center;
  vertical-align: middle;
  width: 90px;
}
.rating-cell-with-label div {
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}
.rating-cell-with-label img {
  width: 48px;
  height: 48px;
}

.rating-table-desktop thead tr th:first-child,
.rating-table-desktop tbody tr td:first-child {
  text-align: left;
}
.rating-table-desktop tr td:not(:first-child) {
  text-align: center;
}

/* Hide the actual radio  */
input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
input[type='radio'] + img {
  cursor: pointer;
  border-radius: 50%;
}
input[type='radio']:focus + img {
  box-shadow: 0 0 5px var(--mid-grey);
}
