.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

input[type='checkbox'] {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.checkbox-container label {
  margin-bottom: 0px;
}
