:root {
    --purple: #59358c;
    --light-grey: #f4f4f6;
    --mid-grey: #a7aab4;
    --grey: #50535e;
    --blue: #8ca9d9;
}
body {
    font-family: "Open Sans", sans-serif;
    color: var(--grey);
    font-size: 12px;
}

header {
    padding: 20px 14px;
}

main {
    width: 90%;
    max-width: 548px;
    margin: 0 auto;
    margin-bottom: 50px;
}

h1 {
    font-weight: 600;
    line-height: 1.4;
    font-size: 35px;
    color: var(--purple);
}

h2 {
    font-weight: 600;
    line-height: 1.4;
    font-size: 20px;
}

h3 {
    font-weight: 600;
    line-height: 1.385;
    font-size: 13px;
}

img.flag {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 80%;
}

.line {
    width: 70px;
    height: 4px;
    margin: 0 auto;
    background-color: var(--purple);
}

.panel {
    background-color: var(--light-grey);
    padding: 17px 42px;
    margin-bottom: 20px;
    position: relative;
}

.panel section::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--blue);
    position: absolute;
    left: -8px;
    top: 50%;
}

.button-row {
    display: flex;
    justify-content: flex-end;
}

button {
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.429;
    background-color: var(--purple);
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
}

label {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.385;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    max-width: 100%;
    border-radius: 3px;
    border: 1px solid var(--mid-grey);
    margin-bottom: 28px;
}
input[type="text"] {
    width: 274px;
    height: 33px;
}
textarea {
    width: 100%;
    padding: 10px 14px;
}

.rating-table {
    width: 100%;
}
.rating-table thead {
    background-color: var(--purple);
    color: white;
}
.rating-table th,
.rating-table td {
    padding: 10px;
}
.rating-table thead tr {
    height: 68px;
}

.rating-table thead tr th:first-child,
.rating-table tbody tr td:first-child {
    text-align: left;
}
.rating-table tr td:not(:first-child) {
    text-align: center;
}

/* Hide the actual radio  */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/* IMAGE STYLES */
[type="radio"] + img {
    border: 2px solid transparent;
    cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
    border: 2px solid black;
    border-radius: 50%;
}
